@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

#root{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.App{
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #007CBE;
  color: #ddd;
}

nav{
  position: absolute;
  top: 0;
  background-color: #007CBE;
  
  align-self: flex-end;
  justify-self: center;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  white-space: nowrap;
}

nav ul li{
  margin-right: 15px;
  width: fit-content;
  padding: 3px 5px;
}

nav ul li a:hover{
  font-size: 1.1rem;
}

nav ul li a{
  text-decoration: none;
  color: #ddd;
}

.nav-active{
  border-bottom: 3px solid crimson;
}


.home{
  align-self: center;
}
.signup, .login{
  align-self: center;
  background-color: #EFF6EE;
  color: #007CBE;
  padding: 50px;
  border-radius: 10px;
}

.login{
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBlog{
  align-self: center;
  padding: 30px 50px;
  border-radius: 10px;
  background-color: #EFF6EE;
  color: #007CBE;
}


.homeControls{
  background-color: #EFF6EE;
  color: #0F0A0A;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border: 2px solid #007CBE33;
  color: #007CBE;
}

textarea{
  padding: 5px;
  width: 50vw;
  height: 30vh;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border: 2px solid #007CBE33;
  color: #007CBE;
}

button{
  background-color: #007CBE;
  color: #EFF6EE;
  padding: 5px 20px;
  margin: 10px;
  border: none;
  outline: none;
  border: 2px solid #ddd3;
  
}

.home a {
  display: block;
  padding-bottom: 10px;
  text-decoration: none;
  color: #ddd;
}

.home a:hover{
  font-size: 1.1rem;
  color: crimson;
}

.blogs{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog{
  background-color: #ddd;
  color: #333;
  width: 500px;
  margin: 30px;
}

.blog h4{
  font-size: 1.5rem;
  background-color: #333;
  color: #ddd;
  padding: 5px 20px;
  margin: 0;
}

.blog .desc{
  display: block;
  font-size: 1.2rem;
  padding: 5px 20px;
}

.blog i{
  font-size: .8rem;
  padding: 5px 20px;
}

/******error message pop up********/
.errorMsg{
  position: absolute;
  z-index: 1000;
  padding: 50px;
  background-color: #ddd;
  color: #333;
  outline: 600px solid #000d;
}